{% extends "base.html" %}
{% block autoreload %}<meta http-equiv="refresh" content="60">{% endblock %}
{% block title %}{{ coin }}{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3><i class="fas fa-coins"></i> {{ coin }}</h3><span class="badge bg-secondary"><i class="far fa-clock"></i> LAST CHANGE: {{ lastupdate }}</span>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a type="button" class="btn btn-sm {{ 'btn-secondary' if timeframe == 'today' else 'btn-outline-secondary' }}" href="../../coins/{{ coin }}/today">Today</a>
            <a type="button" class="btn btn-sm {{ 'btn-secondary' if timeframe == 'week' else 'btn-outline-secondary' }}" href="../../coins/{{ coin }}/week">Week</a>
            <a type="button" class="btn btn-sm {{ 'btn-secondary' if timeframe == 'month' else 'btn-outline-secondary' }}" href="../../coins/{{ coin }}/month">Month</a>
            <a type="button" class="btn btn-sm {{ 'btn-secondary' if timeframe == 'quarter' else 'btn-outline-secondary' }}" href="../../coins/{{ coin }}/quarter">Quarter</a>
            <a type="button" class="btn btn-sm {{ 'btn-secondary' if timeframe == 'year' else 'btn-outline-secondary' }}" href="../../coins/{{ coin }}/year">Year</a>
            <a type="button" class="btn btn-sm {{ 'btn-secondary' if timeframe == 'all' else 'btn-outline-secondary' }}" href="../../coins/{{ coin }}/all">All</a>
          </div>
          <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.binance.com/en/futures/{{ coin }}" target="_blank">
            <i class="fas fa-external-link-alt"></i> View on Binance 
          </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">{{ totals[6][0] }}%</h5>
                <p class="card-text">${{ totals[1] }}</p>
              </div>
              <div class="card-footer text-muted">
                Profit today
              </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">{{ totals[6][1] }}%</h5>
                <p class="card-text">${{ totals[2] }}</p>
              </div>
              <div class="card-footer text-muted">
                Profit past 7 days
              </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">{{ totals[6][2] }}%</h5>
                <p class="card-text">${{ totals[3] }}</p>
              </div>
              <div class="card-footer text-muted">
                Profit {{ totals[4] }}
              </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">{{ totals[6][3] }}%</h5>
                <p class="card-text">${{ totals[0] }}</p>
              </div>
              <div class="card-footer text-muted">
                Total profit
              </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">${{ totals[7][0] }}</h5>
                <p class="card-text">${{ totals[7][1] }}</p>
              </div>
              <div class="card-footer text-muted">
                Unrealised PnL
              </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">{{ totals[5]['BNB'] }} <small>BNB</small></h5>
                <p class="card-text">{{ totals[5]['USDT'] }} USDT</p>
              </div>
              <div class="card-footer text-muted">
                Total fees
              </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header text-muted">
                    Profit by day
                  </div>
                <canvas id="lineChart" height="400"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-muted text-center">
                     Position / orders
                </div>
                
              <table id="orders" class='table table-sm table-bordered text-center'>
				<thead class="thead-dark">
					<tr>
						<th>Type</th>
						<th>Volume</th>
						<th>Price</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
                  {% for position in orders[0] %}
				  <tr class="table-primary">
                        <td>{{position[5]}} {{position[3]}}x</td>
                        <td>{{position[6]}}</td> 
						<td>{{position[4]}}</td>
						<td></td>
                  </tr>
                  {% endfor %}
                  {% for order in orders[1] %}
                        {% if order[3] == "BUY" %}
                            <tr class="table-success">
                        {% else %}
							<tr class="table-danger">
                        {% endif %}
                        <td>{{order[3]}} {{order[8]}} {{order[4]}}</td> 
						
						<td>{{order[1]}}</td>
						<td>{{order[2]}}</td>
						<td>{{ order[7] }}</td>
                    </tr>
                  {% endfor %}
              </table>
            </div>
        </div>
    </div>

<script>

$(document).ready( function () {
    $('#orders').DataTable({
		"paging": false,
		"searching": false,
		"order": [],
		"info": false,
	});
} );

Chart.register(ChartDataLabels);
const data2 = {
  labels: {{ data[0][1] | safe }},
  datasets: [{
    label: 'Profit',
    data: {{ data[0][0] }},
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};
const config2 = {
  type: 'line',
  data: data2,
  options: {
        layout: {
            padding: {
                top: 20
            }
        },
        plugins:{   
            datalabels: {
                anchor: 'end',
                align: 'top',
                offset: 5,
            },
            legend: {
                display: false
            },
        }
  }
};
    
var myChart = new Chart(
    document.getElementById('lineChart'),
    config2
);
</script>
{% endblock %}