{% extends "base.html" %}
{% block autoreload %}{% endblock %}
{% block title %}Income history{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3><i class="fas fa-history"></i> Income history</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if filename != "-" %}
                <div class="alert alert-info" role="alert"><i class="fas fa-file-download"></i> Your file has been saved to <code>{{ fname }}</code> which can be downloaded by clicking <a href= "{{ url_for('static', filename=fname) }}">here</a></div><br>
            {% endif %}
            <div class="card">
                <table id="orders" class='table table-sm table-bordered text-center'>
                    <thead class="thead-dark">
                        <tr>
                            <th>Download</th>
                            <th>Time period</th>
                            <th>Total records</th>
                            {% for col in history["columns"] %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for timeframe in history %}
                            {% if timeframe != "columns" %}
                                <tr>
                                    <td><a class="btn btn-outline-primary btn-sm" href="{{ url_for("main.history_page_timeframe", start=history[timeframe]["start"], end=history[timeframe]["end"]) }}" role="button">Save to file</a></td>
                                    <td>{{ timeframe }}</td>
                                    <td>{{ history[timeframe]["total"] }}</td>
                                    {% for col in history["columns"] %}
                                        <td>{{ history[timeframe][col] }}</td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><hr><br>
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <table id="oldfiles" class='table table-sm table-bordered text-center'>
                    <thead class="thead-dark">
                        <tr>
                            <th>Download</th>
                            <th>Filename</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                <td><a class="btn btn-outline-primary btn-sm" href="{{ url_for('static', filename=file) }}" role="button">Download</a></td>
                                <td>{{ file }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>





    <script>
        $(document).ready( function () {
            $('#orders').DataTable({
                "paging": false,
                "searching": false,
                "order": [],
                "info": false,
            });
            $('#oldfiles').DataTable({
                "paging": true,
                "searching": true,
                "order": [[ 1, 'desc' ]],
                "info": true,
            });
        } );
    </script>
{% endblock %}
