{% extends "base.html" %}
{% block autoreload %}<meta http-equiv="refresh" content="60">{% endblock %}
{% block title %}Positions{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3><i class="fas fa-hand-holding-usd"></i> Positions</h3>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table id="orders" class='table table-sm table-bordered text-center'>
                <thead class="thead-dark">
                    <tr>
                        <th>Symbol</th>
                        <th>Leverage</th>
                        <th>Pos. Volume</th>
                        <th>Pos. Price</th>
                        <th>Pos. Value</th>
                        <th>Unrealised PnL</th>
                        <th>Current Price</th>
                        <th class="table-success">Buys left</th>
                        <th class="table-success">Next buy</th>
                        <th class="table-success">Distance</th>
                        <th class="table-success">Distance %</th>
                        <th class="table-danger">Sells left</th>
                        <th class="table-danger">Next sell</th>
                        <th class="table-danger">Distance</th>
                        <th class="table-danger">Distance %</th>
                    </tr>
                </thead>
                <tbody>
                    {% for coin in positions %}
                        <tr>
                            <td>{{ coin }}</td>
                            <td>{{ positions[coin][0][0][5]}} {{ positions[coin][0][0][3] }}x</td>
                            <td>{{ positions[coin][0][0][6] }}</td>
                            <td>{{ positions[coin][0][0][4] }}</td>
                            <td>{{ (positions[coin][0][0][6] * positions[coin][0][0][4])|round(2) }}</td>
                            <td>{{ "$%.2f"|format(positions[coin][0][0][2]) }}</td>
                            <td>{{ markprices[coin]|round(8)}}</td>
                            <td>{{ positions[coin][2][0]}}</td>
                            <td>{{ positions[coin][2][4]}}</td>
                            <td>{{ positions[coin][2][5]}}</td>
                            <td>{% if positions[coin][2][4] != "-" %}{{ ((positions[coin][2][5]|float/markprices[coin])*100)|round(2)}}% {% endif %}</td>
                            <td>{{ positions[coin][2][1]}}</td>
                            <td>{{ positions[coin][2][6]}}</td>
                            <td>{{ positions[coin][2][7]}}</td>
                            <td>{% if positions[coin][2][6] != "-" %}{{ ((positions[coin][2][7]|float/markprices[coin])*100)|round(2)}}% {% endif %}</td>
                        </tr>
                    {% if positions[coin][0]|length > 1 %}
                        <tr>
                            <td>{{ coin }}</td>
                            <td>{{ positions[coin][0][1][5]}} {{ positions[coin][0][1][3] }}x</td>
                            <td>{{ positions[coin][0][1][6] }}</td>
                            <td>{{ positions[coin][0][1][4] }}</td>
                            <td>{{ (positions[coin][0][1][6] * positions[coin][0][1][4])|round(2) }}</td>
                            <td>{{ "$%.2f"|format(positions[coin][0][1][2]) }}</td>
                            <td>{{ markprices[coin]|round(8)}}</td>
                            <td>{{ positions[coin][2][2]}}</td>
                            <td>{{ positions[coin][2][8]}}</td>
                            <td>{{ positions[coin][2][9]}}</td>
                            <td>{% if positions[coin][2][8] != "-" %}{{ ((positions[coin][2][9]|float/markprices[coin])*100)|round(2)}}% {% endif %}</td>
                            <td>{{ positions[coin][2][3]}}</td>
                            <td>{{ positions[coin][2][10]}}</td>
                            <td>{{ positions[coin][2][11]}}</td>
                            <td>{% if positions[coin][2][10] != "-" %}{{ ((positions[coin][2][11]|float/markprices[coin])*100)|round(2)}}% {% endif %}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>

        $(document).ready( function () {
            $('#orders').DataTable({
                "paging": false,
                "order": [[0,"asc"]],
            });
        } );

    </script>
{% endblock %}
