{% extends "base.html" %}
{% block title %}Projection{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3><i class="fas fa-chart-line"></i> Projection</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header text-muted">
                    Balance projection visualised
                </div>
                <canvas id="lineChart" height="400"></canvas>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header text-muted">
                    Balance projection breakdown
                </div>
                <table id="hype" class='table table-sm table-bordered text-center'>
                    <thead class="thead-dark">
                        <tr>
                            <th>Daily %</th>
                            <th>30 days</th>
                            <th>60 days</th>
                            <th>90 days</th>
                            <th>120 days</th>
                            <th>240 days</th>
                            <th>365 days</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in data["proj"] %}
                        <tr>
                            <td>{{ ((value - 1) * 100)|round(2) }}%</td>
                            <td>{{ data["proj"][value][30]|round(2) }}</td>
                            <td>{{ data["proj"][value][60]|round(2) }}</td>
                            <td>{{ data["proj"][value][90]|round(2) }}</td>
                            <td>{{ data["proj"][value][120]|round(2) }}</td>
                            <td>{{ data["proj"][value][240]|round(2) }}</td>
                            <td>{{ data["proj"][value][-1]|round(2) }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>{{ data["pcustom_value"] }}% (avg past 7 days)</td>
                            <td>{{ data["pcustom"][30]|round(2) }}</td>
                            <td>{{ data["pcustom"][60]|round(2) }}</td>
                            <td>{{ data["pcustom"][90]|round(2) }}</td>
                            <td>{{ data["pcustom"][120]|round(2) }}</td>
                            <td>{{ data["pcustom"][240]|round(2) }}</td>
                            <td>{{ data["pcustom"][-1]|round(2) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>

        $(document).ready( function () {
            $('#hype').DataTable({
                "paging": false,
                "searching": false,
                "order": [],
                "info": false,
            });
        } );

        Chart.register(ChartDataLabels);

        const flat_colours = [
            "rgba(46, 204, 113, 0.3)", "rgba(52, 152, 219, 0.3)", "rgba(155, 89, 182, 0.3)", "rgba(52, 73, 94, 0.3)", "rgba(241, 196, 15, 0.3)", 
            "rgba(230, 126, 34, 0.3)", "rgba(231, 76, 60, 0.3)", "rgba(127, 140, 141, 0.3)", "rgba(44, 62, 80, 0.3)", "rgba(26, 188, 156, 0.3)",
            
        ]
        
        const data = {
            labels: {{ data["dates"] | safe }},
            datasets: [
                {% for value in data["proj"] %}
                {
                    label: '{{ ((value - 1) * 100)|round(2) }}%',
                    data: {{ data["proj"][value] }},
                    fill: false,
                    borderColor: flat_colours[Math.floor(Math.random()*flat_colours.length)],
                    tension: 0.1,
                },
                {% endfor %}
                {
                    label: '{{ data["pcustom_value"] }}%',
                    data: {{ data["pcustom"] }},
                    fill: false,
                    borderColor: 'rgba(75, 192, 192, 0.3)',
                    tension: 0.1,
                },
            ]
        };
        const config2 = {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                layout: {
                    padding: {
                        top: 20
                    }
                },
                plugins:{
                    datalabels: {
                        display: false
                    },
                },
                scales: {
                    y: {
                        type: 'linear',
                        ticks: {
                            autoSkip: false,
                        }
                    }
                }
            }
        };

        var myChart = new Chart(
            document.getElementById('lineChart'),
            config2
        );
    </script>
{% endblock %}
