[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "*"
fastapi = "*"
jinja2 = "*"
psycopg = {extras = ["binary"], version = "*"}
pydantic = "*"
requests = "*"
sqlalchemy = ">=2.0.8"
uvicorn = "*"

[dev-packages]
bandit = "*"
black = "*"
cfgv = "*"
codecov = "*"
flake8 = "*"
freezegun = "*"
isort = "*"
mkdocs-material = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
responses = "*"
types-freezegun = "*"

[requires]
python_version = "3.11"
