{
  "exchange": "binance",
  "api_key": "",
  "api_secret": "",
  "auto_scrape_interval": 300,
  "custom":{
    "navbar_title": "Futuresboard",
    "navbar_bg": "bg-dark",
    "projections": [1.003, 1.005, 1.01, 1.012]
  }
}
