{% include "header.html" %}
<meta http-equiv="refresh" content="300">
<style>
</style>

<div class="row">
    <div class="col-2">
        <div class="card">
            <div class="card-header">
                Profit today
            </div>
            <div class="card-body">
                {{ data["profit_today"] }}
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-header">
                Profit this week
            </div>
            <div class="card-body">
                {{ data["profit_week"] }}
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-header">
                Profit this month
            </div>
            <div class="card-body">
                {{ data["profit_month"] }}
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-header">
                Total profit
            </div>
            <div class="card-body">
                {{ data["total"] }}
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-header">
                Unrealised PnL
            </div>
            <div class="card-body">
                test
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-header">
                Wallet balance
            </div>
            <div class="card-body">
                test
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
